django=2.0.7
djangorestframework=3.8.2
Celery=4.2.0
rabbitmq
bs4=0.0.1
requests=2.19.1
lxml=2.4.3
pytest=3.6.3
django_celery_beat=1.1.1
celerybeat_status
numpy=1.14.5
Pillow=5.2.0
python-Levenshtein=0.12.0
