{% for case in cases %}
<div class="case-container">
<table>
  {% for article in case %}
  <tr class="article-row" id={{article.pk}} >
    <td>
      {{ article.published.time }}
    </td>
    <td>
      <a href="{{ article.url }}">{{ article.title }}</a>
    </td>
    <td class="symbols">
      {{ article.symbols_amount }} symbols
    </td>
    <td class="button">
      {% if article.translator %}
        {% if article.translator == user %}
        <form action="/main/file/" method="post">
        {% csrf_token %}
        <input type="hidden" name=article-pk value={{article.pk}} />
        <button type="submit" class="parse" name="download" >Скачать текст</button>
        </form>
        <form action="/main/file/" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name=article-pk value={{article.pk}} />
          <label for="file">Выбрать файл:</label> <input type="file" id="file" name='file'/>
          <button type="submit" class="btn btn-primary" name="load" value="">
            <span class="glyphicon glyphicon-cloud-upload"></span>Загрузить</button>
        </form>
        {% else %}
            {% if article.loaded == True %}
            Готово!
            {% else %}
            Переводит {{article.translator}}
            {% endif %}
        {% endif %}
      {% else %}
        <button type="submit" class="take" article_pk={{article.pk}}> Перевести</button>
    </td>
  {% endif %}
</tr>
  {% endfor %}
</table>
  </div>
{% endfor %}
