{% extends 'main/base.html' %}

{% block content %}

<form action="" method="post">
  <input type="text" name="input-url"/>
  <input type="submit" name="user-add" value="Добавить" id="btm-add"/>
</form>
<div>
  {% if similar %}
  Нашли похожую, это она?
  {{input.title}}
  {{similar.title}}
  <input type="submit" name="user-sure" value="все равно добавить" id="btm-add"/>
  {% else %}
  Добавлено!
  {% endif %}
</div>
<div>
  {{ status }}
  {{ data }}
  {% if not added %}
    <input type="submit" name="sure" value="Все равно добавить?" id="btm-sure" article_url="{{ data.url }}" />
  {% endif %}
</div>

<table>
  <tr>
    <td class="date-title">
      {{ date_today }}
    </td>
    <td>
    </td>
    <td>
    </td>
  </tr>
  {% if date_today != article.published.date %}
    <tr>
      <td class="date-title">
        {{ article.published.date }}
      </td>
      <td>
      </td>
      <td>
      </td>
    </tr>
  {% endif %}
  {% for article in articles %}

    <tr>
      <td>
        {{ article.published.time }}
      </td>
      <td>
        <a href="{{ article.url }}">{{ article.title }}</a>
      </td>
      <td>
        {{ article.symbols_amount }} symbols
      </td>
      <td>
        <input type="submit" value="Перевести" name="action" article_id="{{ article.id }}"/>
      </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
