{% extends 'main/base.html' %}


{% block content %}
<div>
  Привет, {{user.username}}
    <a href="/logout/">logout</a>
</div>


<table>
  <tr>
    <td class="date-title">
      {{ date_today }}
    </td>
    <td>
    </td>
    <td>
    </td>
  </tr>
  {% if date_today != article.published.date %}
    <tr>
      <td class="date-title">
        {{ article.published.date }}
      </td>
      <td>
      </td>
      <td>
      </td>
    </tr>
  {% endif %}
  {% for article in articles %}
  <form action="" method="post">
    {% csrf_token %}
    <tr>
      <td>
        {{ article.published.time }}
      </td>
      <td>
        <a href="{{ article.url }}">{{ article.title }}</a>
      </td>
      <td>
        {{ article.symbols_amount }} symbols
      </td>
      <td>
        <input type="hidden" name=article-pk value={{article.pk}} />
        {% if article.translator %}
          {% if article.translator.user == user %}
          <input type="submit" name="parse" value="Скачать текст" />
        </form>
        <form action="" method="post">
          {% csrf_token %}
          <input type="hidden" name=article-pk value={{article.pk}} />
          <input type="file" name="file"  />
          <input type="submit" name="load" value="Загрузить перевод"  />
        </form>
          {% else %}
            {% if article.loaded %}
            Готово!
            {% else %}
            Переводит {{article.translator}}
            {% endif %}
          {% endif %}
        {% else %}

        <input type="submit" name="take" value="Перевести" />
        {% endif %}
      </td>
    </tr>
  </form>


    {% endfor %}
</table>

{% endblock %}
